<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>

    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <!-- header section starts -->

    <header class="header">
        <section class="flex">

            <div id="menu-btn" class="fas fa-bars-staggered"></div>
            <a href="/template/home.html" class="logo"> <i class="fas fa-briefcase"></i> JobHunt</a>

            <nav class="navbar">
                <a href="/template/home.html">Home</a>
                <a href="/template/about.html">about us</a>
                <a href="/template/jobs.html">all jobs</a>
                <a href="/template/contact.html">contact us</a>
                <a href="/template/login.html">account</a>

            </nav>

            <a href="#" class="btn" style="margin-top: 0;">post job</a>

        </section>
    </header>

    <!-- header section ends  -->


    <!-- about section starts  -->

    <div class="section-title">about us</div>

    <section class="about">

        <img src="/images/About us page-pana.png" alt="" class="crop-about">
        <div class="box">
            <h3>why choose us?</h3>
            <p>Welcome to JobHunt, your ultimate destination for finding your dream job! We understand the challenges and excitement that come with searching for new career opportunities, and our mission is to make your job hunt as efficient, empowering, and successful as possible.</p>
            <p>At JobHunt, we believe that everyone deserves a fulfilling and meaningful career. We are passionate about connecting talented individuals like you with companies that value your skills and expertise. Whether you're a seasoned professional looking for a career change, a recent graduate eager to kickstart your journey, or someone seeking part-time or freelance work, we're here to support you every step of the way.</p>
            <p>Our dedicated team is comprised of industry experts, career advisors, and technology enthusiasts who are committed to revolutionizing the job search experience. We leverage cutting-edge technology and innovative solutions to provide you with a seamless platform that simplifies the process of finding and applying for jobs. Our advanced search algorithms, personalized recommendations, and comprehensive job listings ensure that you have access to the most relevant opportunities that align with your interests, qualifications, and aspirations.</p>
            <p>We strive to foster an inclusive and diverse community, where every individual feels empowered to explore and pursue their career goals. Our platform promotes equal opportunities for all candidates, irrespective of their backgrounds, genders, ethnicities, or abilities. We actively partner with forward-thinking companies that embrace diversity and inclusion as core values, ensuring that you have a wide range of opportunities to choose from.</p>
            <p>At JobHunt, we believe that support and guidance are essential elements of a successful job search. That's why we offer a range of resources and tools to equip you with the knowledge and skills you need to excel in your career journey. From expert advice on crafting a standout resume and preparing for interviews to articles on industry trends and professional development, we strive to provide you with valuable insights that enhance your employability.</p>
            <p>We are constantly evolving and innovating to meet the ever-changing needs of the job market. Your feedback and suggestions play a crucial role in shaping our platform, and we welcome your input as we continue to enhance our services. Together, we can redefine the way job seekers connect with employers and unlock new possibilities for career growth.</p>
            <p>Thank you for choosing JobHunt. We are excited to be a part of your job hunt and look forward to helping you find the job of your dreams!</p>
            <a href="/template/contact.html" class="btn">contact us</a>
        </div>

    </section>

    <!-- about section ends  -->
    

    <!-- reviews section stars  -->

    <div class="section-title">top rewiews</div>

    <section class="reviews">

        <div class="box-container">

            <div class="box">

                <div class="user">
                    <img src="/images/man(1).png" alt="">
                    <div>
                        <h3>john deo</h3>
                        <span>web designer</span>
                    </div>
                </div>

                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>

                <h3 class="title">amazing results</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore quia ad provident modi tenetur quis maxime enim laborum quisquam corporis eaque reprehenderit, laudantium consectetur, voluptate, saepe iure minus amet mollitia.</p>

            </div>


            <div class="box">

                <div class="user">
                    <img src="/images/woman.png" alt="">
                    <div>
                        <h3>Alice Thompson</h3>
                        <span>Software Engineer</span>
                    </div>
                </div>

                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>

                <h3 class="title">easy to use</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore quia ad provident modi tenetur quis maxime enim laborum quisquam corporis eaque reprehenderit, laudantium consectetur, voluptate, saepe iure minus amet mollitia.</p>
                
            </div>


            <div class="box">
                
                <div class="user">
                    <img src="/images/man(2).png" alt="">
                    <div>
                        <h3>Benjamin Collins</h3>
                        <span>Architect</span>
                    </div>
                </div>

                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>

                <h3 class="title">got selected</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore quia ad provident modi tenetur quis maxime enim laborum quisquam corporis eaque reprehenderit, laudantium consectetur, voluptate, saepe iure minus amet mollitia.</p>

            </div>


            <div class="box">
                
                <div class="user">
                    <img src="/images/woman.png" alt="">
                    <div>
                        <h3>Sophia Johnson</h3>
                        <span>Pediatrician</span>
                    </div>
                </div>

                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>

                <h3 class="title">nice experience</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore quia ad provident modi tenetur quis maxime enim laborum quisquam corporis eaque reprehenderit, laudantium consectetur, voluptate, saepe iure minus amet mollitia.</p>

            </div>


            <div class="box">
                
                <div class="user">
                    <img src="/images/man(3).png" alt="">
                    <div>
                        <h3>Daniel Martinez</h3>
                        <span>Graphic Designer</span>
                    </div>
                </div>

                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>

                <h3 class="title">wide range</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore quia ad provident modi tenetur quis maxime enim laborum quisquam corporis eaque reprehenderit, laudantium consectetur, voluptate, saepe iure minus amet mollitia.</p>

            </div>


            <div class="box">
                
                <div class="user">
                    <img src="/images/man(4).png" alt="">
                    <div>
                        <h3>Liam Anderson</h3>
                        <span>Journalist</span>
                    </div>
                </div>

                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>

                <h3 class="title">super result</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore quia ad provident modi tenetur quis maxime enim laborum quisquam corporis eaque reprehenderit, laudantium consectetur, voluptate, saepe iure minus amet mollitia.</p>

            </div>

        </div>
        
    </section>

    <!-- reviews section ends  -->


    <!-- footer section starts  -->

    <footer class="footer">

        <section class="grid">

            <div class="box">
                <h3>quick links</h3>
                <a href="/template/home.html"><i class="fas fa-angle-right"></i> home</a>
                <a href="/template/about.html"><i class="fas fa-angle-right"></i> about</a>
                <a href="/template/jobs.html"><i class="fas fa-angle-right"></i> all jobs</a>
                <a href="/template/contact.html"><i class="fas fa-angle-right"></i> contact us</a>
            </div>

            <div class="box">
                <h3>extra links</h3>
                <a href="#"><i class="fas fa-angle-right"></i> account</a>
                <a href="/template/login.html"><i class="fas fa-angle-right"></i> login</a>
                <a href="/template/register.html"><i class="fas fa-angle-right"></i> register</a>
                
            </div>

            <div class="box">
                <h3>follow us</h3>
                <a href="https://www.facebook.com"><i class="fab fa-facebook-f"></i> facebook</a>
                <a href="https://twitter.com"><i class="fab fa-twitter"></i> twitter</a>
                <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i> instgram</a>
                <a href="https://in.linkedin.com/"><i class="fab fa-linkedin"></i> linkedin</a>
                <a href="https://www.youtube.com/"><i class="fab fa-youtube"></i> youtube  </a>
            </div>

        </section>

        <div class="credit">&copy; copyright @ 2023 by <span>Mr. Umesh [web developer]</span> | all right reserved!</div>

    </footer>

    <!-- footer section ends -->


    <!-- custom js file link -->
    <script src="/js/script.js"></script>
</body>
</html>