<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>

    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <!-- header section starts -->

    <header class="header">
        <section class="flex">

            <div id="menu-btn" class="fas fa-bars-staggered"></div>
            <a href="/template/home.html" class="logo"> <i class="fas fa-briefcase"></i> JobHunt</a>

            <nav class="navbar">
                <a href="/template/home.html">Home</a>
                <a href="/template/about.html">about us</a>
                <a href="/template/jobs.html">all jobs</a>
                <a href="/template/contact.html">contact us</a>
                <a href="/template/login.html">account</a>

            </nav>

            <a href="#" class="btn" style="margin-top: 0;">post job</a>

        </section>
    </header>


    <!-- header section ends  -->




    <!-- about section starts  -->

    <div class="section-title">about us</div>

    <section class="about">

        <img src="/images/Admin-rafiki.png" alt="">
        <div class="box">
            <h3>why choose us?</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi ut molestias repellendus laborum officia cum similique error vero itaque illum. Veritatis dolorum iste incidunt officia ratione, perferendis ipsam, quasi obcaecati odit doloremque ipsum similique eos molestiae error totam? Itaque ipsum laboriosam inventore facilis labore quibusdam? Nemo vel voluptatum ut provident.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam dolorum aliquid est, pariatur quos suscipit doloremque eius molestias nemo velit in officia! Corporis dignissimos corrupti deleniti, recusandae ipsum autem dolore?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus nihil a voluptate veritatis eligendi quisquam fugiat tempora ab, quae itaque dolore saepe dicta accusantium reprehenderit similique sit, qui fuga cupiditate!</p>
            <a href="/template/contact.html" class="btn">contact us</a>
        </div>

    </section>


    <!-- about section ends  -->
    



    <!-- reviews section stars  -->


    <div class="section-title">top rewiews</div>

    <section class="reviews">

        <div class="box-container">

            <div class="box">
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>

                <h3 class="title">amazing results</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore quia ad provident modi tenetur quis maxime enim laborum quisquam corporis eaque reprehenderit, laudantium consectetur, voluptate, saepe iure minus amet mollitia.</p>

                <div class="user">
                    <img src="/images/live-chat.png" alt="">
                    <div>
                        <h3>john deo</h3>
                        <span>web designer</span>
                    </div>
                </div>

            </div>


            <div class="box">
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>

                <h3 class="title">easy to use</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore quia ad provident modi tenetur quis maxime enim laborum quisquam corporis eaque reprehenderit, laudantium consectetur, voluptate, saepe iure minus amet mollitia.</p>

                <div class="user">
                    <img src="/images/live-chat.png" alt="">
                    <div>
                        <h3>john deo</h3>
                        <span>web designer</span>
                    </div>
                </div>

            </div>


            <div class="box">
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>

                <h3 class="title">got selected</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore quia ad provident modi tenetur quis maxime enim laborum quisquam corporis eaque reprehenderit, laudantium consectetur, voluptate, saepe iure minus amet mollitia.</p>

                <div class="user">
                    <img src="/images/live-chat.png" alt="">
                    <div>
                        <h3>john deo</h3>
                        <span>web designer</span>
                    </div>
                </div>

            </div>


            <div class="box">
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>

                <h3 class="title">nice experience</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore quia ad provident modi tenetur quis maxime enim laborum quisquam corporis eaque reprehenderit, laudantium consectetur, voluptate, saepe iure minus amet mollitia.</p>

                <div class="user">
                    <img src="/images/live-chat.png" alt="">
                    <div>
                        <h3>john deo</h3>
                        <span>web designer</span>
                    </div>
                </div>

            </div>


            <div class="box">
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>

                <h3 class="title">wide range</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore quia ad provident modi tenetur quis maxime enim laborum quisquam corporis eaque reprehenderit, laudantium consectetur, voluptate, saepe iure minus amet mollitia.</p>

                <div class="user">
                    <img src="/images/live-chat.png" alt="">
                    <div>
                        <h3>john deo</h3>
                        <span>web designer</span>
                    </div>
                </div>

            </div>


            <div class="box">
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>

                <h3 class="title">super result</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore quia ad provident modi tenetur quis maxime enim laborum quisquam corporis eaque reprehenderit, laudantium consectetur, voluptate, saepe iure minus amet mollitia.</p>

                <div class="user">
                    <img src="/images/user(4).png" alt="">
                    <div>
                        <h3>john deo</h3>
                        <span>web designer</span>
                    </div>
                </div>

            </div>

        </div>

    </section>

    <!-- reviews section ends  -->



    <!-- footer section starts  -->

    <footer class="footer">

        <section class="grid">

            <div class="box">
                <h3>quick links</h3>
                <a href="/template/home.html"><i class="fas fa-angle-right"></i> home</a>
                <a href="/template/about.html"><i class="fas fa-angle-right"></i> about</a>
                <a href="/template/jobs.html"><i class="fas fa-angle-right"></i> all jobs</a>
                <a href="/template/contact.html"><i class="fas fa-angle-right"></i> contact us</a>
            </div>

            <div class="box">
                <h3>extra links</h3>
                <a href="#"><i class="fas fa-angle-right"></i> account</a>
                <a href="/template/login.html"><i class="fas fa-angle-right"></i> login</a>
                <a href="/template/register.html"><i class="fas fa-angle-right"></i> register</a>
                
            </div>

            <div class="box">
                <h3>follow us</h3>
                <a href="https://www.facebook.com"><i class="fab fa-facebook-f"></i> facebook</a>
                <a href="https://twitter.com"><i class="fab fa-twitter"></i> twitter</a>
                <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i> instgram</a>
                <a href="https://in.linkedin.com/"><i class="fab fa-linkedin"></i> linkedin</a>
                <a href="https://www.youtube.com/"><i class="fab fa-youtube"></i> youtube  </a>
            </div>

        </section>

        <div class="credit">&copy; copyright @ 2023 by <span>Mr. Umesh [web developer]</span> | all right reserved!</div>

    </footer>








    <!-- footer section ends -->




    <!-- custom js file link -->
    <script src="/js/script.js"></script>
</body>
</html>