<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>

    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <!-- header section starts -->

    <header class="header">
        <section class="flex">

            <div id="menu-btn" class="fas fa-bars-staggered"></div>
            <a href="/template/home.html" class="logo"> <i class="fas fa-briefcase"></i> JobHunt</a>

            <nav class="navbar">
                <a href="/template/home.html">Home</a>
                <a href="/template/about.html">about us</a>
                <a href="/template/jobs.html">all jobs</a>
                <a href="/template/contact.html">contact us</a>
                <a href="/template/login.html">account</a>
            </nav>

            <a href="#" class="btn" style="margin-top: 0;">post job</a>

        </section>
    </header>

    <!-- header section ends  -->


    <!-- contact us section starts -->

    <div class="section-title">contact us</div>

    <section class="contact">

        <div class="box-container">

            <div class="box">
                <i class="fas fa-phone"></i>
                <a href="tel:1234567890">123-456-7890</a>
                <a href="tel:1223334444">122-333-4444</a>
            </div>
    
            <div class="box">
                <i class="fas fa-envelope"></i>
                <a href="mailto: umesh.killua@proton.com">umesh.killua@protonmail.com</a>
                <a href="mailto: umesh.killua@proton.com">umesh.killua@protonmail.com</a>
            </div>
    
            <div class="box">
                <i class="fas fa-map-marker-alt"></i>
                <a href="#">flat no. 36, t9 building, raja garden,Delhi, India - 110001</a>
            </div>

        </div>

        <form action="" method="post">
            <h3>drop your message</h3>
            <div class="flex">
                <div class="box">
                    <p>name <span>*</span></p>
                    <input type="text" name="name" required maxlength="20" placeholder="enter your name" class="input">
                </div>
                <div class="box">
                    <p>email <span>*</span></p>
                    <input type="email" name="email" required maxlength="50" placeholder="enter your email" class="input">
                </div>
                <div class="box">
                    <p>number <span>*</span></p>
                    <input type="number" name="number" required min="0" max="9999999999" maxlength="10" placeholder="enter your number" class="input">
                </div>
                <div class="box">
                    <p>role <span>*</span></p>
                    <select name="role" required class="input">
                        <option value="employee">job seeker (employee)</option>
                        <option value="employer">job provider (employer)</option>
                    </select>
                </div>
            </div>

            <p>message <span>*</span></p>
            <textarea name="message" required maxlength="1000" placeholder="enter your message" cols="30" rows="10" class="input"></textarea>
            <input type="submit" value="send message" name="send" class="btn">
        </form>


    </section>

    <!-- contact us section ends -->


    <!-- footer section starts  -->

    <footer class="footer">

        <section class="grid">

            <div class="box">
                <h3>quick links</h3>
                <a href="/template/home.html"><i class="fas fa-angle-right"></i> home</a>
                <a href="/template/about.html"><i class="fas fa-angle-right"></i> about</a>
                <a href="/template/jobs.html"><i class="fas fa-angle-right"></i> all jobs</a>
                <a href="/template/contact.html"><i class="fas fa-angle-right"></i> contact us</a>
            </div>

            <div class="box">
                <h3>extra links</h3>
                <a href="#"><i class="fas fa-angle-right"></i> account</a>
                <a href="/template/login.html"><i class="fas fa-angle-right"></i> login</a>
                <a href="/template/register.html"><i class="fas fa-angle-right"></i> register</a>
                
            </div>

            <div class="box">
                <h3>follow us</h3>
                <a href="https://www.facebook.com"><i class="fab fa-facebook-f"></i> facebook</a>
                <a href="https://twitter.com"><i class="fab fa-twitter"></i> twitter</a>
                <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i> instgram</a>
                <a href="https://in.linkedin.com/"><i class="fab fa-linkedin"></i> linkedin</a>
                <a href="https://www.youtube.com/"><i class="fab fa-youtube"></i> youtube  </a>
            </div>

        </section>

        <div class="credit">&copy; copyright @ 2023 by <span>Mr. Umesh [web developer]</span> | all right reserved!</div>

    </footer>

    <!-- footer section ends -->


    <!-- custom js file link -->
    <script src="/js/script.js"></script>
</body>
</html>