<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Jobs</title>

    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!-- header section starts -->

    <header class="header">
        <section class="flex">

            <div id="menu-btn" class="fas fa-bars-staggered"></div>
            <a href="home.html" class="logo"> <i class="fas fa-briefcase"></i> JobHunt</a>

            <nav class="navbar">
                <a href="home.html">Home</a>
                <a href="about.html">about us</a>
                <a href="jobs.html">all jobs</a>
                <a href="contact.html">contact us</a>
                <a href="login.html">account</a>

            </nav>

            <a href="#" class="btn" style="margin-top: 0;">post job</a>

        </section>
    </header>



    <!-- header section ends  -->





    <!-- home section starts  -->


    <div class="home-container">

        <section class="home">

            <form action="" method="post">
                <h3>find a job</h3>
                <p>job title <span>*</span></p>
                <input type="text" name="title" placeholder="keyword, category or company" required maxlength="20" class="input">
                <p>job location</p>
                <input type="text" name="location" placeholder="city or state" required maxlength="20" class="input">
                <input type="submit" value="search job" name="search" class="btn">

            </form>
        </section>
    </div>


    <!-- home section ends  -->



    <!-- category section starts -->

    <section class="category">

        <h1 class="heading">Job Categories</h1>

        <div class="box-container">

            <a href="#" class="box">
                <i class="fas fa-code"></i>
                <div>
                    <h3>development</h3>
                    <span>2200 jobs</span>
                </div>
            </a>
            
            <a href="#" class="box">
                <i class="fas fa-pen"></i>
                <div>
                    <h3>designer</h3>
                    <span>500 jobs</span>
                </div>
            </a>
            
            <a href="#" class="box">
                <i class="fas fa-chalkboard-user"></i>
                <div>
                    <h3>teacher</h3>
                    <span>1500 jobs</span>
                </div>
            </a>
            
            <a href="#" class="box">
                <i class="fas fa-bullhorn"></i>
                <div>
                    <h3>marketing</h3>
                    <span>1200 jobs</span>
                </div>
            </a>
            
            <a href="#" class="box">
                <i class="fas fa-headset"></i>
                <div>
                    <h3>service</h3>
                    <span>3100 jobs</span>
                </div>
            </a>
            
            <a href="#" class="box">
                <i class="fas fa-wrench"></i>
                <div>
                    <h3>engineer</h3>
                    <span>400 jobs</span>
                </div>
            </a>
            
            <a href="#" class="box">
                <i class="fas fa-hand-holding-dollar"></i>
                <div>
                    <h3>finance</h3>
                    <span>1000 jobs</span>
                </div>
            </a>
            
            <a href="#" class="box">
                <i class="fas fa-person-digging"></i>
                <div>
                    <h3>labour</h3>
                    <span>4000 jobs</span>
                </div>
            </a>

        </div>
    </section>
    
    
    <!-- category section ends -->
    
    
    
    
    
    
    <!-- job section starts  -->
    
    <section class="jobs-container">
        
        <h1 class="heading">latest jobs</h1>

        <div class="box-container">

            <div class="box">
                <div class="company">
                    <img src="images/programming.png" alt="">
                    <div>
                        <h3>IT Infosys Co.</h3>
                        <p>2 days ago</p>
                    </div>
                </div>
                <h3 class="job-title">senior web developer</h3>
                <p class="location"><i class="fas fa-map-marker-alt"></i><span>delhi, india</span></p>
                <div class="tags">
                    <p><i class="fas fa-indian-rupee-sign"></i><span>10k-23k</span></p>
                    <p><i class="fas fa-briefcase"></i><span>part-time</span></p>
                    <p><i class="fas fa-clock"></i><span>day shift</span></p>
                </div>
                <div class="flex-btn">
                    <a href="view_job.html" class="btn">view details</a>
                    <button type="submit" class="far fa-heart" name="save"></button>
                </div>
            </div>


            <div class="box">
                <div class="company">
                    <img src="images/coding.png" alt="">
                    <div>
                        <h3>all media ltd.</h3>
                        <p>2 days ago</p>
                    </div>
                </div>
                <h3 class="job-title">qualified developer</h3>
                <p class="location"><i class="fas fa-map-marker-alt"></i><span>delhi, india</span></p>
                <div class="tags">
                    <p><i class="fas fa-indian-rupee-sign"></i><span>10k</span></p>
                    <p><i class="fas fa-briefcase"></i><span>full-time</span></p>
                    <p><i class="fas fa-clock"></i><span>flexible shift</span></p>
                </div>
                <div class="flex-btn">
                    <a href="view_job.html" class="btn">view details</a>
                    <button type="submit" class="far fa-heart" name="save"></button>
                </div>
            </div>
        
    
            <div class="box">
                <div class="company">
                    <img src="images/html.png" alt="">
                    <div>
                        <h3>Software solutions</h3>
                        <p>posted today</p>
                    </div>
                </div>
                <h3 class="job-title">javascript developer</h3>
                <p class="location"><i class="fas fa-map-marker-alt"></i><span>delhi, india</span></p>
                <div class="tags">
                    <p><i class="fas fa-indian-rupee-sign"></i><span>10k - 25k</span></p>
                    <p><i class="fas fa-briefcase"></i><span>internship</span></p>
                    <p><i class="fas fa-clock"></i><span>night shift</span></p>
                </div>
                <div class="flex-btn">
                    <a href="view_job.html" class="btn">view details</a>
                    <button type="submit" class="far fa-heart" name="save"></button>
                </div>
            </div>
    
    
            <div class="box">
                <div class="company">
                    <img src="images/front-end.png" alt="">
                    <div>
                        <h3>IT world</h3>
                        <p>20 days ago</p>
                    </div>
                </div>
                <h3 class="job-title">junior front-end</h3>
                <p class="location"><i class="fas fa-map-marker-alt"></i><span>delhi, india</span></p>
                <div class="tags">
                    <p><i class="fas fa-indian-rupee-sign"></i><span>20k - 50k</span></p>
                    <p><i class="fas fa-briefcase"></i><span>contract</span></p>
                    <p><i class="fas fa-clock"></i><span>fixed shift</span></p>
                </div>
                <div class="flex-btn">
                    <a href="view_job.html" class="btn">view details</a>
                    <button type="submit" class="far fa-heart" name="save"></button>
                </div>
            </div>
            
            
            <div class="box">
                <div class="company">
                    <img src="images/assistant.png" alt="">
                    <div>
                        <h3>info statics</h3>
                        <p>2 days ago</p>
                    </div>
                </div>
                <h3 class="job-title">junior assistant</h3>
                <p class="location"><i class="fas fa-map-marker-alt"></i><span>delhi, india</span></p>
                <div class="tags">
                    <p><i class="fas fa-indian-rupee-sign"></i><span>5k</span></p>
                    <p><i class="fas fa-briefcase"></i><span>temporary</span></p>
                    <p><i class="fas fa-clock"></i><span>flexible shifts</span></p>
                </div>
                <div class="flex-btn">
                    <a href="view_job.html" class="btn">view details</a>
                    <button type="submit" class="far fa-heart" name="save"></button>
                </div>
            </div>
    
    
            <div class="box">
                <div class="company">
                    <img src="images/php.png" alt="">
                    <div>
                        <h3>mass idea</h3>
                        <p>2 days ago</p>
                    </div>
                </div>
                <h3 class="job-title">PHP developer</h3>
                <p class="location"><i class="fas fa-map-marker-alt"></i><span>delhi, india</span></p>
                <div class="tags">
                    <p><i class="fas fa-indian-rupee-sign"></i><span>30k - 1lakh</span></p>
                    <p><i class="fas fa-briefcase"></i><span>fresher</span></p>
                    <p><i class="fas fa-clock"></i><span>fixed shift</span></p>
                </div>
                <div class="flex-btn">
                    <a href="view_job.html" class="btn">view details</a>
                    <button type="submit" class="far fa-heart" name="save"></button>
                </div>
            </div>
        </div>

        



        <div style="text-align: center; margin-top: 2rem;">
            <a href="jobs.html" class="btn">view all</a>
        </div>

    </section>
    



    <!-- job section ends -->





    <!-- footer section starts  -->

    <footer class="footer">

        <section class="grid">

            <div class="box">
                <h3>quick links</h3>
                <a href="home.html"><i class="fas fa-angle-right"></i> home</a>
                <a href="about.html"><i class="fas fa-angle-right"></i> about</a>
                <a href="jobs.html"><i class="fas fa-angle-right"></i> all jobs</a>
                <a href="contact.html"><i class="fas fa-angle-right"></i> contact us</a>
            </div>

            <div class="box">
                <h3>extra links</h3>
                <a href="#"><i class="fas fa-angle-right"></i> account</a>
                <a href="login.html"><i class="fas fa-angle-right"></i> login</a>
                <a href="register.html"><i class="fas fa-angle-right"></i> register</a>
                
            </div>

            <div class="box">
                <h3>follow us</h3>
                <a href="https://www.facebook.com"><i class="fab fa-facebook-f"></i> facebook</a>
                <a href="https://twitter.com"><i class="fab fa-twitter"></i> twitter</a>
                <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i> instgram</a>
                <a href="https://in.linkedin.com/"><i class="fab fa-linkedin"></i> linkedin</a>
                <a href="https://www.youtube.com/"><i class="fab fa-youtube"></i> youtube  </a>
            </div>

        </section>

        <div class="credit">&copy; copyright @ 2023 by <span>Mr. Umesh [web developer]</span> | all right reserved!</div>

    </footer>








    <!-- footer section ends -->




    <!-- custom js file link -->
    <script src="js/script.js"></script>
</body>
</html>