<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <!-- header section starts -->

    <header class="header">
        <section class="flex">

            <div id="menu-btn" class="fas fa-bars-staggered"></div>
            <a href="/template/home.html" class="logo"> <i class="fas fa-briefcase"></i> JobHunt</a>

            <nav class="navbar">
                <a href="/template/home.html">Home</a>
                <a href="/template/about.html">about us</a>
                <a href="/template/jobs.html">all jobs</a>
                <a href="/template/contact.html">contact us</a>
                <a href="/template/login.html">account</a>

            </nav>

            <a href="#" class="btn" style="margin-top: 0;">post job</a>

        </section>
    </header>


    <!-- header section ends  -->




    <!-- account section starts -->

    <div class="account-form-container">

        <section class="account-form">

            <form action="" method="post">

                <h3>welcome back!</h3>
                <input type="email" required name="email" maxlength="30" placeholder="enter your email" class="input">
                <input type="password" required name="pass" maxlength="20" placeholder="enter your password" class="input">
                <p>don't have an account? <a href="/template/register.html">register now</a></p>
                <input type="submit" value="login now" name="submit" class="btn">

            </form>

        </section>

    </div>


    <!-- account section ends -->




    <!-- footer section starts  -->

    <footer class="footer">

        <section class="grid">

            <div class="box">
                <h3>quick links</h3>
                <a href="/template/home.html"><i class="fas fa-angle-right"></i> home</a>
                <a href="/template/about.html"><i class="fas fa-angle-right"></i> about</a>
                <a href="/template/jobs.html"><i class="fas fa-angle-right"></i> all jobs</a>
                <a href="/template/contact.html"><i class="fas fa-angle-right"></i> contact us</a>
            </div>

            <div class="box">
                <h3>extra links</h3>
                <a href="#"><i class="fas fa-angle-right"></i> account</a>
                <a href="/template/login.html"><i class="fas fa-angle-right"></i> login</a>
                <a href="/template/register.html"><i class="fas fa-angle-right"></i> register</a>
                
            </div>

            <div class="box">
                <h3>follow us</h3>
                <a href="https://www.facebook.com"><i class="fab fa-facebook-f"></i> facebook</a>
                <a href="https://twitter.com"><i class="fab fa-twitter"></i> twitter</a>
                <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i> instgram</a>
                <a href="https://in.linkedin.com/"><i class="fab fa-linkedin"></i> linkedin</a>
                <a href="https://www.youtube.com/"><i class="fab fa-youtube"></i> youtube  </a>
            </div>

        </section>

        <div class="credit">&copy; copyright @ 2023 by <span>Mr. Umesh [web developer]</span> | all right reserved!</div>

    </footer>








    <!-- footer section ends -->




    <!-- custom js file link -->
    <script src="/js/script.js"></script>
</body>

</html>